# Ignore environment variables.
.env
flask/.env

# Ignore cached source code.
__pycache__

# Ignore database folder and files.
flask/instance/*
instance/*

# Ignore reports.
reports/*

# Ignore logs.
/flask/logs/*

# Ignore documentation/planning files.
flask/notes.txt
flask/test.html