# Ignore environment variables.
.env
app/.env

# Ignore cached source code.
__pycache__

# Ignore database folder and files.
app/instance/*
instance/*
postgres_data/*
*.sql

# Ignore reports.
reports/*

# Ignore logs.
/app/logs/

# Ignore documentation/planning files.
app/notes.txt
app/test.html

# Testing config.
test-config.sh