{% extends "base.html" %}

{% block page_content %}
  <div class="flex-grow-1 container mt-5">
    <div class="row">
      <aside class="col-sm-3">
      </aside>
      <main class="col-sm-6">
        <h2>Recent Meeting Minutes</h2>
        {% if meetings|length > 0 %}
          {% for meeting in meetings %}
            <br/>
            <article>
              <h3 class="h5">{{ meeting.title }}</h3>
              <div class="fakeimg">{{ meeting.event_start }} - {{ meeting.event_end }}</div>
              <p>{{ meeting.description }}</p>
              <a href="/event/{{ meeting.id }}"><button role="button" class="btn btn-primary">Meeting Details ></button></a>
            </article>
          {% endfor %}
        {% else %}
            <p>No Meeting Records Found</p>
        {% endif %}
        <br/>
      </main>
      <aside class="col-sm-3">
      </aside>
    </div>
  </div>
{% endblock %}