{% extends "base.html" %}

{% block page_content %}
  <div class="flex-grow-1 container mt-5">
    <div class="row">
      <aside class="col-sm-4">
        {% if featured_meeting %}
          {% if featured_meeting.state == "not started" %}
            <h2>Upcoming Meeting</h2>
          {% elif featured_meeting.state == "active" %}
            <h2>Active Meeting</h2>
          {% else %}
            <h2>Featured Meeting</h2>
          {% endif %}
        
          <h5>{{ featured_meeting.title }}</h5>
          <div class="fakeimg">{{ featured_meeting.host }}</div>
          <p>{{ featured_meeting.description }}</p>

          {% if featured_meeting.state == "active" and current_user.is_authenticated %}
            {% block header_styles %}
              <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
            {% endblock %}
            <section id="form" class="d-flex justify-content-center">
              <form action="/event/check-in/{{ featured_meeting.id }}" method="POST" class="col-6">
                  <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Meeting Code" name="meeting_code" id="meeting_code" autocomplete="off">
                    <label for="meeting_code">Meeting Code</label>
                  </div>
                <button type="submit" class="form-control form-control-lg">Check In</button>
              </form>
            </section>
          {% endif %}
        {% endif %}
        <hr class="d-sm-none">

      </aside>
      <main class="col-sm-8">
        <h2>Recent Meeting Minutes</h2>
        {% if recent_meetings|length > 0 %}
          {% for meeting in recent_meetings %}
            <article>
              <h3 class="h5">{{ meeting.title }}</h3>
              <div class="fakeimg">{{ meeting.event_start}} - {{ meeting.event_end }}</div>
              <p>{{ meeting.description }}</p>
            </article>
          {% endfor %}
          <a href="/events/"><button role="button" class="btn btn-primary">View All ></button></a>
        {% else %}
            <p>No Meeting Records Found</p>
        {% endif %}
      </main>
    </div>
  </div>
{% endblock %}