{% include "header.html" %}

{% include "navbar.html" %}

  <main class="main">

    <!-- Header Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{{ url_for('static', filename='img/world-dotted-map.png') }}" alt="" class="hero-bg" data-aos="fade-in">

      <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
          <div class="col-lg-6 order-2 order-lg-2 d-flex flex-column justify-content-center">
            <h2 data-aos="fade-up">Log In</h2>
            <p data-aos="fade-up" data-aos-delay="100">Take notes, track attendees, and revisit old meetings - all with ease and fully customized for ACM at the University of Dayton.</p>
            <form action="/login" method="POST" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                <input name="username" type="text" class="form-control" placeholder="Your Username">
                <input name="password" type="text" class="form-control" placeholder="Your Password">
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
          </div>
        </div>
      </div>

    </section><!-- /Header Section -->
  </main>

{% include "footer.html" %}