# Base Code URL
BASE_URL = "https://acm-udayton.github.io/ACM-Meeting-Records/"

# Source Code
GITHUB_SOURCE = "https://github.com/acm-udayton/ACM-Meeting-Records"

# Social Accounts
LINKEDIN_URL = ""
INSTAGRAM_URL = ""
GITHUB_URL = ""

# Contact Details
ORGANIZATION_NAME = ""
MEETING_LOCATION = ""
CONTACT_EMAIL = ""

# Username Enforcement
ENFORCE_USERNAMES = False
USERNAME_EMAIL_DOMAIN = ""
REQUIRE_USERNAME_AS_EMAIL = True

# Databse Details
SQLALCHEMY_DATABASE_URI = "postgresql://admin:password@db:5432/acm-meetings-db"
SECRET_KEY = ""

# reCAPTCHA Details - https://www.google.com/recaptcha/admin
RECAPTCHA_SITE_KEY = ""
RECAPTCHA_SECRET_KEY = ""
