/* Form CSS */

.remove-attendee-ajax {
    width: 1em;
    height: 1em;
    color: var(--ud-red);
}

form input {
    border-color: var(--ud-blue) !important;
    border-width: 2px !important;
}
form input.form-check-input:checked {
    background-color: var(--ud-blue) !important;
    border-color: var(--ud-red) !important;
}
form button[type=submit] {
    background-color: var(--ud-red) !important;
    color: white;
}
button[role=button].red-link-btn {
    background-color: var(--ud-red) !important;
    border-color: var(--ud-red) !important;
    color: white;
}button[role=button].blue-link-btn {
    background-color: var(--ud-blue) !important;
    border-color: var(--ud-blue) !important;
    color: white;
}
section#meeting-delete button {
    background-color: var(--ud-red) !important;
    color: white;
}
section#form-context {
    margin-top: 32px;
}
section#meeting-delete #meeting-delete-cancel {
    background-color: var(--ud-blue) !important;
    color: white;
}
section#form-context h2, section#form-context span, section#form-context span a {
    color: var(--ud-blue) !important;
}
section#form, section#log-out {
    margin-bottom: 32px;
}
textarea {
    min-height: 300px!important;
}