{% extends "base.html" %}
{% block header_styles %}
    <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
{% endblock %}
{% block footer_scripts %}
    <script>
        const CURRENT_MEETING_ID = "{{ meeting.id }}";
    </script>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
{% block page_content %}
  <div class="flex-grow-1 container mt-5">
    <div class="row">
      <aside class="col-lg-3">
        <h5>Meeting Status</h5>
        <section id="meeting-status">
        <p id="status-p"><strong>Current Status: </strong>{{ meeting.state | title }}
        {% if meeting.state == "not started" %}
          <form action="/admin/start/{{ meeting.id }}/" id="meeting-status-form" method="POST" class="col-lg-8">
            <button type="submit" class="form-control form-control-lg" id="meeting-status-submit">Start Meeting</button>
          </form>
        {% elif meeting.state == "active" %}
          <strong>Meeting Code: </strong><a href="/admin/reset-code/{{ meeting.id }}" target="_blank">Reset Code</a></p>
          <form action="/admin/end/{{ meeting.id }}/" id="meeting-status-form" method="POST" class="col-lg-8">
            <button type="submit" class="form-control form-control-lg" id="meeting-status-submit">End Meeting</button>
          </form>
        {% endif %}
        </section>
        <section id="meeting-delete" class="col-lg-8">
          <button type="button" 
                  class="form-control form-control-lg" 
                  data-bs-toggle="modal" 
                  data-bs-target="#confirmDeleteModal">
              Delete Meeting
          </button>
          <!-- Delete Confirmation Modal -->
          <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this meeting? This action cannot be undone.
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" id="meeting-delete-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    
                    <form method="POST" id="confirm-delete-form" action="/admin/delete/{{ meeting.id }}/">
                      <button type="submit" class="btn btn-danger">Delete Permanently</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <hr class="d-sm-none">
        </section>

      </aside>
      <main class="col-lg-6">
        <section id="meeting-data" class="text-center">
            <h2>{{ meeting.title }}</h2>
            <h5>{{ meeting.event_start|datetime_format|default("Start Time Unavailable", true) }} - {{ meeting.event_end|datetime_format|default("End Time Unavailable", true) }}<br/>{{ meeting.host }}</h5>
            <p>{{ meeting.description }}</p>
            <hr>
        </section>

        {% if minutes|length > 0 %}
          <article id="meeting-minutes">
            <form action="/admin/minutes/{{ meeting.id }}/{{ minutes[-1].id }}/" method="POST" id="meeting-minutes-form" class="col-12">
              <textarea id="meeting_minutes" name="meeting_minutes" class="form-control">{{ minutes[-1].notes }}</textarea>
              <div><strong>Recorded By: {{ minutes[-1].username_by }}</strong></div>
              <br>
              <button type="submit" class="form-control form-control-lg">Save Minutes</button>
            </form>
            <br/>
          </article>
        {% else %}
            <article id="meeting-minutes">
              <form action="/admin/minutes/{{ meeting.id }}/" method="POST" id="meeting-minutes-form" class="col-12">
                <textarea id="meeting_minutes" name="meeting_minutes" class="form-control"></textarea>
                <div><strong>Recorded By: {{ current_user.username }}</strong></div>
                <br>
                <button type="submit" class="form-control form-control-lg">Save Minutes</button>
              </form>
              <br/>
            </article>

        {% endif %}
      </main>
      <aside class="col-lg-3 text-lg-end">
        <h5>Meeting Attendees</h5>
        <p id="attendee-list">
        {% if attendees|length > 0 %}
            {% for attendee in attendees %}
                <span id="attendee-{{ attendee.id }}">
                  {{attendee.username}} 
                  <i class="fa-solid fa-user-minus remove-attendee-ajax" data-url="/admin/remove-attendee/{{ meeting.id }}/{{ attendee.id }}"></i>
                </span>
                <br/>
            {% endfor %}
        {% endif %}
        </p>
          <section id="form" class="justify-content-right row">
            <div class="col-lg-4"></div>
            <form action="/admin/attendees/{{ meeting.id }}/" id="meeting-attendees-form" method="POST" class="col-lg-8">
                <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control form-control-lg" placeholder="Attendee Username" name="attendee_username" id="attendee_username" autocomplete="off">
                <label for="meeting_code">Attendee Username</label>
                </div>
            <button type="submit" class="form-control form-control-lg">Add Attendee</button>
            </form>
        </section>
      </aside>
    </div>
  </div>
{% endblock %}