{% extends "base.html" %}

{% block page_content %}
  <div class="flex-grow-1 container mt-5">
    <div class="row">
      <main class="col-12">
        <h2>Registered Users ({{active_users_count}})</h2>
        
        <br/>
        <article>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">ID #</th>
                    <th scope="col">Username</th>
                    <th scope="col">Start Semester</th>
                    <th scope="col">End Semester</th>
                    <th scope="col">Meetings Attended</th>
                    <th scope="col">Last Check-in Date</th>
                    <th scope="col">Role</th>
                    <th scope="col">Reset Password</th>
                    <th scope="col">MFA Status</th>
                    <th scope="col">Account Activation</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.joined|default("N/A", true) }}</td>
                        <td>{{ user.graduated|default("N/A", true) }}</td>
                        <td>{{ user.meetings_attended }}</td>
                        <td>{{ user.last_checkin|default("N/A", true) }}</td>
                        <td>
                            <div class="d-flex justify-content-left">
                                {{ user.role|capitalize }}
                                {% if user.role != 'admin' %}
                                                                <button type="button" 
                                        class="btn btn-sm red-link-btn container d-flex justify-content-center align-items-center"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#confirmPromoteModal-{{ user.id }}">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <!-- Promote Confirmation Modal -->
                                <div class="modal fade" id="confirmPromoteModal-{{ user.id }}" tabindex="-1" aria-labelledby="confirmPromoteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmPromoteModalLabel">Confirm Promotion</h5>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to promote this user?
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" id="promote-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            
                                            <form method="POST" id="confirm-promote-form" action="/admin/users/promote/{{ user.id }}/">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <button type="submit" class="btn btn-danger">Promote User</button>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <hr class="d-sm-none">
                                {% else %}
                                <button type="button" 
                                        class="btn btn-sm red-link-btn container d-flex justify-content-center align-items-center"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#confirmDemoteModal-{{ user.id }}">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                                <!-- Demote Confirmation Modal -->
                                <div class="modal fade" id="confirmDemoteModal-{{ user.id }}" tabindex="-1" aria-labelledby="confirmDemoteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDemoteModalLabel">Confirm Demotion</h5>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to demote this user?
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" id="demote-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            
                                            <form method="POST" id="confirm-demote-form" action="/admin/users/demote/{{ user.id }}/">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <button type="submit" class="btn btn-danger">Demote User</button>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <hr class="d-sm-none">
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <form method="post" action="/admin/users/reset-password/{{ user.id }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="password" name="new_password" id="new_password" value=""/>
                                <button type="submit" class="btn btn-sm green-link-btn"><i class="fa fa-key"></i></button>
                            </form>
                        </td>
                        <td>
                            {% if user.mfa_active %}
                            <form method="post" action="/admin/users/disable-mfa/{{ user.id }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-sm green-link-btn container d-flex justify-content-center align-items-center"><i class="ud-red-text fa fa-lock"></i></button>
                            </form>
                            {% else %}
                            <div class="container d-flex justify-content-center align-items-center">
                                <i class="ud-blue-text fa fa-unlock"></i>
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.activated %}
                            <form method="post" action="/admin/users/disable-account/{{ user.id }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-sm red-link-btn container d-flex justify-content-center align-items-center"><i class="fa fa-user-xmark"></i></button>
                            </form>
                            {% else %}
                            <form method="post" action="/admin/users/enable-account/{{ user.id }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-sm green-link-btn container d-flex justify-content-center align-items-center"><i class="fa fa-user-check"></i></button>
                            </form>
                            {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
        <br/>
      </main>
    </div>
  </div>
{% endblock %}