{% extends "base.html" %}

{% block page_content %}
  <div class="flex-grow-1 container mt-5">
    <div class="row">
      <main class="col-12">
        <h2>Registered Users</h2>
        
        <br/>
        <article>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">ID #</th>
                    <th scope="col">Username</th>
                    <th scope="col">Start Semester</th>
                    <th scope="col">End Semester</th>
                    <th scope="col">Role</th>
                    <th scope="col">Reset Password</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.joined|default("N/A", true) }}</td>
                        <td>{{ user.graduated|default("N/A", true) }}</td>
                        <td>
                            <div class="d-flex justify-content-left">
                                {{ user.role|capitalize }}
                                {% if user.role != 'admin' %}
                                <form method="post" action="/admin/users/promote/{{ user.id }}">
                                    <button type="submit" class="btn btn-sm green-link-btn"><i class="fa fa-arrow-up"></i></button>
                                </form>
                                {% else %}
                                <form method="post" action="/admin/users/demote/{{ user.id }}">
                                    <button type="submit" class="btn btn-sm red-link-btn"><i class="fa fa-arrow-down"></i></button>
                                </form>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <form method="post" action="/admin/users/reset-password/{{ user.id }}">
                                <input type="password" name="new_password" id="new_password" value=""/>
                                <button type="submit" class="btn btn-sm green-link-btn"><i class="fa fa-key"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
        <br/>
      </main>
    </div>
  </div>
{% endblock %}