/*
Author: Joseph Lefkovitz
*/

body {
    width: 100vw;
    height: 100vh;
    color: #ffffff !important;
    background-color: rgb(14,29,52) !important;
    font-size: 14px;
    position: relative;
    margin: 0px !important
}
div.center-row {
    text-align: center;
}
header {
    padding:20px 0;
}
h1.page-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}
.input-box {
    background: white;
    padding: 10px;
    border-radius: 10px; 
    max-width: 450px !important; 
    margin: 0 auto;
}
.input-box input {
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
main {
    padding: 0px !important;
}