{% extends "base.html" %}

{% block page_content %}
  <div class="flex-grow-1 container mt-5">
    <div class="row">
      <aside class="col-sm-3">
        {% if current_user.is_authenticated and current_user.role == "admin" %}
          {% block header_styles %}
            <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
          {% endblock %}
            <form action="/admin/create/" id="meeting-create-form" method="POST" class="col-lg-12">
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control form-control-lg" placeholder="Meeting Title" name="meeting_title" id="meeting_title" autocomplete="off">
                <label for="meeting_title">Meeting Title</label>
              </div>
              <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control form-control-lg" placeholder="Meeting Description" name="meeting_description" id="meeting_description" autocomplete="off">
                <label for="meeting_description">Meeting Description</label>
              </div>
            <button type="submit" class="form-control form-control-lg">Create Meeting</button>
          </form>


        {% endif %}
      </aside>
      <main class="col-sm-6">
        <h2>Recent Meeting Minutes</h2>
        {% if meetings|length > 0 %}
          {% for meeting in meetings %}
            <br/>
            <article>
              <h3 class="h5">{{ meeting.title }}</h3>
              <div class="fakeimg">{{ meeting.event_start|default("Start Time Unavailable", true) }} - {{ meeting.event_end|default("End Time Unavailable", true) }}</div>
              <p>{{ meeting.description }}</p>
              <a href="/event/{{ meeting.id }}"><button role="button" class="btn btn-primary">Meeting Details ></button></a>
            </article>
          {% endfor %}
        {% else %}
            <p>No Meeting Records Found</p>
        {% endif %}
        <br/>
      </main>
      <aside class="col-sm-3">
      </aside>
    </div>
  </div>
{% endblock %}