{% extends "base.html" %}

{% block header_styles %}
<link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
  <main class="main">
    <section id="form-context" class="d-grid justify-content-center text-center">
      <h2>New Account</h2>
      <span>Already have an account? <a href="/login">Log in instead!</a></span>
    </section>
    <section id="form" class="d-flex justify-content-center">
      <form action="/sign-up/" method="POST" class="col-6">
        {{ form.hidden_tag() }}
          {% for error in form.username.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}

          <div class="form mb-3 mt-3">
            <label for="{{ form.username.id }}">Email</label>
            <p>
              {% if required_domain %}
                <span class="form-text ud-blue-text">Email must be from the domain {{ required_domain }}</span>
              {% endif %}
              {{ form.username(class="form-control form-control-lg", placeholder="Email", autocomplete="off") }}
            </p>
          </div>
          {% for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="form mb-3 mt-3">
            <label for="{{ form.password.id }}">Password</label>
            {{ form.password(class="form-control form-control-lg", placeholder="Password", autocomplete="off") }}
          </div>
          {% for error in form.confirm_password.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="form mb-3 mt-3">
            <label for="{{ form.confirm_password.id }}">Confirm Password</label>
            {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password", autocomplete="off") }}
          </div>
          {% for error in form.recaptcha.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <p>
            {{ form.recaptcha }}
          </p>
        {{ form.submit(class="form-control form-control-lg red-button") }}
        </form>        
    </section>
  </main>

{% endblock %}